@import "../../../styles/variables.scss";
@import "../../../styles/colors";

.pageBanner{
    background-image: url('../../../styles/assets/images/web/pageBanner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
    text-align: center;
    display: flex;

    .title{
        font-size: 3.5rem;
        color: $white;
    }
}

